# VS Code
.vs/
.vscode/
.cursor/
.idea/

# Build outputs
bin/
obj/
src/NoMoreBets/Output/

# Python
__pycache__/
venv/
.coverage
.pytest_cache/

# Resources
src/NoMoreBets/NoMoreBets.Data/Resources/*
.env
cache/

srv/NoMoreBets/appsettings.Development.json
/src/NoMoreBets/appsettings.Development.json
/src/NoMoreBets/appsettings.Development.json
