# VS Code
.vs/
.vscode/
.cursor/
.idea/

# Build outputs
bin/
obj/
src/NoMoreBets/Output/

venv/
.coverage
.pytest_cache/

# Resources
src/NoMoreBets/NoMoreBets.Data/Resources/*
.env
cache/
plans/

src/NoMoreBets/appsettings.Development.json
src/NoMoreBets/appsettings.json
